@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<form id="search-form" action="~/store/search">
    <label>
        <input class="search-input" type="text" name="search" placeholder="Find Products" name="query">
        <i class="fa fa-search"></i>
    </label>
</form>